/**
 * Name:perfectinfo.css
 * Date:2014-12-3
 */

*{box-sizing: border-box;}
h1,h2,h3,h4,h5,p,dl,dd,dt,ul,li{margin:0;}
ul,ol{list-style: none;}
/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
body{background-color: #535353;}

.perfect-info-wrap{background-color: #f1f1f1;height:900px;padding-top: 150px;}

.perfect-info-header{width: 650px;margin: 0 auto;padding-bottom: 24px;}
.perfect-info-header > img{vertical-align: middle;}
.perfect-info-header .pih-title{display: inline-block;border-left: #b5b5b5 solid 1px;line-height: 30px;padding-left: 16px;color:#666666;font-size: 16px;margin-left: 14px;vertical-align: middle;}

.perfect-info-main{width: 650px;margin: 0 auto;padding: 40px;background-color: #fcfcfc;position: relative;}

.perfect-info-main .pim-left{float: left;padding: 0 50px 0 20px;display: inline;}
.perfect-info-main .pim-left .piml-head{width: 150px;height: 150px;margin-bottom: 20px;display: block;}
.perfect-info-main .pim-left .piml-edit-head{border: #cccccc solid 1px;border-radius: 3px;background-color: #fcfcfc;font-size: 14px;line-height: 30px;width: 150px;color:#515151;cursor: pointer;}

.perfect-info-main .pim-right{float: left;border-left: #d3d3d3 solid 1px;width: 350px;padding-left: 30px;padding-top: 10px;}
.perfect-info-main .pim-right .pimr-form-tpl{}
.perfect-info-main .pim-right .pimr-form-tpl .pimr-list{}
.perfect-info-main .pim-right .pimr-form-tpl .pimr-list > dt{line-height: 30px;float: left;display: inline-block;font-size: 14px;}
.perfect-info-main .pim-right .pimr-form-tpl .pimr-list > dd{float: left;margin-left: 16px;width: 260px;height: 64px;}
.perfect-info-main .pim-right .pimr-form-tpl .perfect-info-inp{border:#cccccc solid 1px;border-radius:3px;padding: 0 6px;line-height: 32px;width: 200px;font-size: 14px;vertical-align: middle;}
.perfect-info-main .pim-right .pimr-form-tpl .inpon{border-color:#f28430;}
.perfect-info-main .pim-right .pimr-form-tpl .inp-ok{display: inline-block;width: 20px;height: 13px;background: url(../images/perfect-info-ok.png) no-repeat;margin-left: 20px;}
.perfect-info-main .pim-right .pimr-form-tpl .inp-error{color:#f28430; font-size: 12px;display: block;margin-top: 3px;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-sex-label{border: #cccccc solid 1px;border-radius: 3px;overflow: hidden;width: 200px;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-sex{line-height: 30px;display: inline-block;text-align: center;font-size: 14px;width: 66px;border-right:#cccccc solid 1px;cursor: pointer;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-sex:last-child{border-right-width:0px;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-sex:hover{color:#ff5200;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-sex.on{background-color: #f28430;color: #ffffff;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-chk-tpl{color:#515151;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-chk{vertical-align: middle;margin-right: 3px;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-btn{line-height: 32px;border: #f28430 solid 1px;border-radius: 3px;background-color: #fa994f;vertical-align: middle;margin-right: 16px;width: 170px;color: #ffffff;font-size: 14px;cursor: pointer;}
.perfect-info-main .pim-right .pimr-form-tpl .pif-pass{color:#aaaaaa;}

.perfect-info-main .perfect-info-img{position: absolute;left: -253px;bottom: -257px;width: 400px;height: 440px;background: url(../images/perfect-info-img.png) no-repeat;z-index: 1;}

